body{
  background-color: darkblue;
}

.h1tag{
  color: white;
  text-align: center;
}
.searchform>input{
  padding: 10px;
  margin-right: 5px;  
}
.searchform>button{
  color: white;
  padding: 10px;
  border: 0px;
  border-radius: 10px;
  background-color: blue;
}